body {
	background-image: url(https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=829&q=80);
	background-size: cover;
	background-position: center;
	color: White;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar {
	background-color: #8975EE;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;;
}

button {
	color: #9FE4A7;
}

html {
	height: 100%;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.8),
				0px 8px 13px rgba(0,0,0,0.3),
				0px 18px 23px rgba(0,0,0,0.2);
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.nav.navbar-nav. li a {
	color: white;
}
